@model Tracker.ViewModels.TicketDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="card mb-3">
    <div class="card-header">
        @Html.DisplayFor(model => model.Tic.Title)
    </div>
    <div class="card-body">
        <hr />
        <dl class="row">
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tic.DateCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tic.DateCreated)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tic.UserCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tic.UserCreated.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tic.Status.Desc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tic.Status.Desc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tic.Project)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tic.Project.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tic.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tic.Description)
            </dd>
        </dl>
    </div>
</div>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th scope="row">Ticket change details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.His)
        {
            if (item.TicketId != Model.Tic.Id)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditData)
                </td>
                
            </tr>
            }
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Tic.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
